body{
background-color: aqua;  
}
.container{
    background-color: rgb(38, 38, 38);
    height: 50px;
    width: 50px;
    border-radius: 50% ;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 150px;
    animation: box ;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    
}
@keyframes box{
    19%{
        background-color: rgb(38, 38, 38);
    }
    20%{
        background-color: white;
    }
    100%{
        background-color: white;
    }
}
.row{
    height: 150px;
    width: 150px;
    border: 50px solid transparent;
    border-top: rgb(38, 38, 38) solid 50px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: -100px;
    animation: box1 5s infinite;
    
}
@keyframes box1{
    39%{
        border-top-color: rgb(38, 38, 38);
    }
    40%{
        border-top-color: white;
    }
    100%{
        border-top-color: white;
    }
}
.row:before{
    height: 330px;
    width: 330px;
    position: absolute;
    border: 50px solid transparent;
    border-top: 50px solid rgb(38, 38, 38) ;
    border-radius: 50%;
    right: -140px;
    top: -150px;
    content: "";
    animation: box2 5s infinite;
}
@keyframes box2{
    59%{
        border-top-color: rgb(38, 38, 38);
    }
    60%{
        border-top-color: white;
    }
    100%{
        border-top-color: white;
    }
}
.row:after{
    height: 520px;
    width: 520px;
    position: absolute;
    border: 50px solid transparent;
    border-top: 50px solid rgb(38, 38, 38) ;
    border-radius: 50%;
    right: -235px;
    top: -250px;
    content: "";
    animation: box3 5s infinite;
}
@keyframes box3{
    79%{
        border-top-color: rgb(38, 38, 38);
    }
    80%{
        border-top-color: white;
    }
    100%{
        border-top-color: white;
    }
}